body{
    box-sizing: border-box;
    background-color: #E0CBA8;
    margin: 0px;
    color: #564154;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenitore{
    max-width:1000px;
    margin: 0px auto;
    padding: 0px;
    
}

div.cont-titolo{
    background-color: #779FA1;
    opacity: 0.85 ;
    margin: 0px;
    padding: 15px 0px;
    
}


h1#titolo{
    margin: 0 auto;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

div.cont-contenuto{
    font-size: 15px;
    
    
}

ul.lista-ric{
    list-style: circle;
    padding: 2px;
    
}

li{
    color: #779FA1;
    
}